/*global*/

body{
    font: 1em/1.5 Arial, Helvitca, sans-serif;
    margin: 0;
    padding: 0;
    background: #424F52;
}

.container{
    width: 80%;
    margin: auto;
    overflow: hidden;
}

ul{
    margin: 0;
    padding: 0;
}

.buttonSubmit{
    height: 40px;
    background: #AD5742;
    border: 0;
    padding-left: 20px;
    padding-right: 20px;
    color: white;
    
}

/*header*/

header{
    background: #50707E;
    color: white;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #AD5742 .3em solid;
}

header a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: .9em;
    position: relative;
}

header #branding{
    float: left;
}

header #branding h1{
    margin: 0;
    padding: 0;
}

header nav{
    float: right;
    margin-top: 15px;;
}

header li{
    float: left;
    display: inline;
    padding: 0 1em 0 1em;
}

.highlight{
    color: #C42338;
}

nav a::before{
    content: '';
    display: block;
    height: 5px;
    background: #C42338;
    position: absolute;
    left: 0;
    right: 0;
    top: -.75em;
    transform: scale(0,1);
    transition: transform ease-in-out 250ms;
}

nav a:hover::before{
    transform: scale(1,1);
}

/*showcase*/

#showcase{
    min-height: 400px;
    max-width: 100%;
    background: url(../Images/desktop.jpg) no-repeat center;
    background-size: 100%;
    text-align: center;
    color: white;
}

#showcase h1{
    margin-top: 1em;
    font-size: 4em;
    margin-bottom: .5em;
}

#showcase p{
    font-size: 1.5em;
}

/*newsletter*/

#newsletter{
    padding: 10px;
    color: white;
    background: #50707E;
}

#newsletter h1{
    float: left;
}

#newsletter form{
    float: right;
    margin-top: 20px;
}

#newsletter input[type="email"]{
    padding: 5px;
    height: 25px;
    width: 250px;
}

/*content boxes*/

#contentBoxes{
    margin-top: 20px;
    background: white;
    height: auto;
}

#contentBoxes .contentBox{
    float: left;
    width: 30%;
    padding: 10px;
    text-align: center;
}

footer{
    margin-top: 20px;
    background: #50707E;
    text-align: center;
}

/*responsive formatting*/

@media only screen and (max-width: 768px){
    
/*    header info*/
    
    header #branding{
        float: none;
        text-align: center;
    }
    
    header nav{
        float: none;
        padding: 0;
    }
    
    header nav{
        float: none;
        text-align: center;
        margin-bottom: 10px;
    }
    
    header li{
        float: none;
        text-align: center;
        padding: 0 .5em 0 .5em;
    }
    
    nav a::before, nav a:hover::before{
        display: none;
    }
    
/*    showcase*/
    
    #showcase{
        padding: 0;
        background-size: cover;
    }
    
    #showcase h1{
        font-size: 2em;
        
    }
    
    #showcase p{
        font-size: 1em;
    }
    
/*    newsletter*/
    
    #newsletter{
        display: block;
    }
    
    #newsletter h1{
        float: none;
        text-align: center;
    }
    
    #newsletter form{
        float: none;
        text-align: center;
    }
    
    #newsletter .buttonSubmit{
        float: none;
        text-align: center;
        margin: 10px;
    }
    
/*    content boxex*/
    
    #contentBoxes .contentBox{
        display: block;
        width: 100%;
        padding: 10px;
        text-align: center;
    }
}